<mat-card class="example-card">


    <h4 style="text-align: center;"> Login to Continue </h4>


    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

        <mat-form-field class="example-full-width">
            <mat-label>Username:(harry)</mat-label>
            <input matInput placeholder="Enter the product name" value="" formControlName="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password:(password)</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter the product category" value=""
                formControlName="password">
        </mat-form-field>
        <BR>
        <BR>
        <div class="example-button-row">
            <button mat-raised-button type="submit" [disabled]='!loginForm.valid'>LOGIN</button>
        </div>
        <div class="right">
            ~Prithvi Sharma
        </div>

    </form>

</mat-card>