<BR>
<BR>
<ol class="breadcrumb">
    <li class="breadcrumb-item active">
        <a href="#">
            <span class="badge badge-pill badge-primary" (click)='showStudent()'>
                <font color="#000000">show student</font>
            </span>
        </a>
        <a href="#">
            <span class="badge badge-pill badge-primary" (click)='showNonStudent()'>show professor</span>
        </a>
    </li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3" *ngFor="let customer of filterCustomers">
            <div class="card border-primary mb-3">
                <div class="card-header">{{customer.name }}</div>
                <div class="card-body">

                    <p class="card-text">
                        Age : {{customer.age}}
                        <BR> Is Student?: {{customer.isStudent }}
                        <BR> CGPA is: {{customer.cgpa }}

                    </p>
                </div>
            </div>

        </div>
    </div>
</div>