<div class="basic-container">
    <h1>Orders</h1>
</div>
<div class="basic-container">
    <div fxLayout="row" fxLayoutAlign="strecth" fxLayoutGap="15px">
        <mat-card fxFlex="Dynamic">
            <mat-card-content>
                <app-place-order></app-place-order>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="Dynamic">
            <mat-card-content>
                <app-view-orders></app-view-orders>
            </mat-card-content>
        </mat-card>
    </div>
</div>