<h4>
    Add Product </h4>

<form [formGroup]="productForm" (submit)="onFormSubmit()">
    Name:
    <input type="text" formControlName="name">
    <BR>
    <BR> Category:
    <input type="text" formControlName="category">
    <BR>
    <BR> serialNo:
    <input type="text" formControlName="serialNo">
    <BR>
    <BR> stockCount:
    <input type="text" formControlName="stockCount">
    <BR>

    <BR> price:
    <input type="text" formControlName="price">
    <BR>
    <BR>
    <input type="submit" [disabled]='!productForm.valid' vaue="Add Product">

</form>