<h4> Add Product </h4>

<form class="example-form" [formGroup]="productForm" (ngSubmit)="onFormSubmit()">
    
    <mat-form-field class="example-full-width">
        <mat-label>Name:</mat-label>
        <input matInput placeholder="Enter the product name" value="" formControlName="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Category:</mat-label>
        <input matInput placeholder="Enter the product category" value="" formControlName="category">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Serial No:</mat-label>
        <input matInput placeholder="Enter the product searial no." value="" formControlName="serialNo">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Stock Count:</mat-label>
        <input matInput placeholder="Enter the product stock count" value="" formControlName="stockCount">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <mat-label>Price:</mat-label>
        <input matInput placeholder="Enter the product stock count" value="" formControlName="price">
    </mat-form-field>

    <BR>
    <BR>
    <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]='!productForm.valid'>Add Product</button>
    </div>
    

</form>