<div class="basic-container">
    <h1>{{category}}</h1>
</div>


<div class="basic-container">
    <div fxLayout="row" fxLayoutAlign="strecth" fxLayoutGap="15px">
        <mat-card fxFlex="Dynamic">
            <mat-card-content>
                <app-product-form></app-product-form>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="Dynamic">
            <mat-card-content>
                <app-product-list></app-product-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>